appdirs==1.4.4
atcoder-tools==1.1.7.1
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
colorlog==4.7.2
Cython==0.29.21
diff-match-patch==20200713
idna==2.10
Jinja2==2.11.3
jsonschema==3.2.0
lxml==4.6.2
MarkupSafe==1.1.1
numpy==1.20.1
online-judge-api-client==10.8.0
online-judge-tools==11.1.2
pyrsistent==0.17.3
requests==2.25.1
scipy==1.6.1
six==1.15.0
soupsieve==2.2
toml==0.10.2
urllib3==1.26.4
